<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="livroslembrete.com.br.livroslembrete">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <receiver
            android:name=".notification.LembreteNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="NOTIFICAR_LEMBRETE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".notification.LembreteNotificationService"></service>

        <activity
            android:name=".activitys.MainActivity"
            android:label="Livros" />
        <activity android:name=".activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.LivroFormActivity"
            android:label="Livro Cadastro"
            android:parentActivityName=".activitys.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity
            android:name=".activitys.LivroDetalhesActivity"
            android:label="@string/title_activity_livro_detalhes"
            android:parentActivityName=".activitys.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activitys.MainActivity" />
        </activity>
        <activity android:name=".activitys.CriarContaActivity">

        </activity>

        <activity android:name=".activitys.PhotoViewActivity" android:theme="@style/AppThemePhotoView"></activity>
    </application>

</manifest>